.row {
  margin-left: -18px;
  margin-right: -18px;
  @mixin atMedium {
    display: flex;
  }

  & > div {
    padding-right: 18px;
    padding-left: 18px;
  }

  @mixin atMedium {
    &__medium-4 {
      width: 33.33%;
    }
    &__medium-4-larger {
      width: 37%;
    }
    &__medium-8 {
      width: 66.66%;
    }
    &__medium-8-smaller {
      width: 63%;
    }
  }
}
